body {
	font-family: 'Figtree', sans-serif;
	background-color: hsl(47, 88%, 63%);
}

section {
	height: 95vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card {
	margin: 0 auto;
	padding: 25px;
	background-color: hsl(0, 0%, 100%);
	width: 330px;
	border: 1px solid black;
	border-radius: 20px;
	filter: drop-shadow(8px 8px #000);
}

.illustration {
	width: 100%;
	display: block;
	margin: 0 auto;
	border-radius: 10px;
}

.published {
	font-size: 0.9rem;
}

h1 a {
	color: black;
	text-decoration: none;
}

h1 a:hover {
	color: hsl(47, 88%, 63%);
}

.attribution {
	margin-top: 10px;
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.learning {
	display: inline-block;
	margin: 20px 0 5px 0;
	padding: 5px 10px;
	font-weight: 600;
	border-radius: 5px;
	background-color: hsl(47, 88%, 63%);
}

.description {
	color: hsl(0, 0%, 50%);
}

ul {
	padding: 0;
	margin: 0;
	display: flex;
}
ul li {
	list-style-type: none;
}

.author-name {
	margin-left: 12px;
	align-self: center;
	font-weight: 700;
}

.author-image {
	width: 35px;
}